.container{
    width : 100%;
    height : 100%;
    display : flex;
}

/* .container .listContainer{
    flex-grow: 0;
    flex-shrink: 0;
}

.container .inputContainer{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
} */

.listContainer{
    margin : 10px;
    border : 1px solid lightgray;
    height : 300px;
    /* width : 400px; */
    padding: 0px;
    overflow : auto;
    flex: 1
}

.inputContainer{
    margin : 10px;
    border : 1px solid lightgray;
    height : 180px;
    width: 400px;
    padding: 10px;
    flex : 1;
}

.eachCard{
    height : 70px;
    border-bottom: 1px solid lightgray;
    list-style-type: none;
    padding : 10px;
}

.actions button{
    margin-right : 20px;
}

.content{
    margin-top : 22px;
}

.error{
    color : red;
}